<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Котики!</title>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
</head>
<body>
    <center>
        <div class="alert alert-primary" role="alert">
            <h1>Привет! Вот твои котики:</h1>
        </div>
        <a href="/">
            <img src="{{ href }}" alt="Еще котиков!" style="width: 100%; max-width: 70%; max-height: 80%;">
        </a>
    </center>
</body>
</html>